@page
    <!DOCTYPE html>
    <html>
    <head>
        <meta charset="utf-8" />
        <title>我的JavaScript实例</title>
        <script src="JavaScript.js"></script>
    </head>
    <body>
        <h1>1111111</h1>
        <script>
            alert("if you think you can. then you can");
        </script>
    </body>
</html>